body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f6f8fa;
    color: #222;
}

.hero {
    background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1600&q=80') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 4rem 1rem;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: darken;
}

.info, .itinerary, .gallery {
    max-width: 1000px;
    margin: 2rem auto;
    background: white;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1)

}

h2 {
    color: #007b83;
    text-align: center;
}

.gallery .images {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px, 1fr));
    gap: 0.8rem;
    margin-top: 1rem;

}

.gallery img{
    width: 100%;
    border-radius: 8px;
    transition: 0.3s;
}

.gallery img;:hover {
    transform: scale(1.05);
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit)minmax(300px, 1fr);
    gap: 1.5rem;
    margin-top: 1rem;
}

.day {
    background: #fefefe;
    border-radius: 10px;
    box-shadow: 1 1px 5px rgba(0,0,0,0.8);
    overflow: hidden;
    transition: 0.3s;
}

.day:hover {
    transform: translateY(-4px);
}

.day img {
    width: 100%;
    height: 200px;
    object-fit: cover;

}

.day h3 {
    margin: 0.8rem;
    color: #007b83;
}

.day p {
    margin: 0 0.8rem 1rem;
    font-size: 0.95rem;
}

footer {
    text-align: center;
    background: #e8f1f1;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .info, .itinerary, .gallery {
        margin: 1rem;
        padding: 1rem;
    }
    .hero h1 { font-size: 1.6rem; }
    
}